<h1>Honors and Awards</h1>
<ul>
<li><em>2026</em> Reviewer for SIGGRAPH 2026, ECCV 2026, CVPR 2026</li>
<li><em>2025</em> Reviewer for CVPR 2025, ICCV 2025, ACM MM 2025, WACV 2025, ICME 2025, MIRU 2025</li>
<li><em>2024</em> Reviewer for CVPR 2024, ECCV 2024, ACM MM 2024, MIRU 2024</li>
<li><em>2022</em> IST-RA: A Doctoral Student Special Incentives Program provided by the University of Tokyo Graduate School of Information Science and Technology.</li>
<li><em>2020</em> Kaggle Global Wheat Detection Competition Silver Medal.</li>
<li><em>2020</em> MIRU Student Encouragement Award</li>
</ul>
